---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import WhyChooseUs from '../components/WhyChooseUs.astro';
import Services from '../components/Services.astro';
import Gallery from '../components/Gallery.astro';
import FAQ from '../components/FAQ.astro';
import ServiceAreas from '../components/ServiceAreas.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Hawkins Hardwood Flooring | Rhode Island Hardwood Specialists">
  <Header />
  <main>
    <Hero />
    <WhyChooseUs />
    <Services />
    <Gallery />
    <FAQ />
    <ServiceAreas />
    <Contact />
  </main>
  <Footer />
</Layout>
